





    a {
        color: #FF6D02;
    }

    a:hover, a:focus, .back-to-catalog-v3:hover,
    .header-left .left-nav-toggle:hover {
        color: #bf5101;
    }

    #lp-left-nav .lesson {
        color: #ff9141;
    }

    #lp-left-nav .lesson:hover,
    #lp-left-nav .lesson:active {
        background: #6b2d00;
        color: white;
    }

    #lp-left-nav .lesson-active,
    #lp-left-nav .current-item {
        background: #FF6D02;
        color: white;
    }

    #lp-left-nav .left-nav-return {
        color: #FF6D02;
    }

    .link-color {
        color: #FF6D02;
    }

    .theme-color {
        color: #FF6D02;
    }

    .theme-color-bg {
        background-color: #FF6D02;
    }

    .theme-color-border-hover:hover, .theme-color-border-hover:focus {
        border-color: #FF6D02;
    }

    a.theme-no-hover{
        color: #FF6D02;
    }

    a.theme-no-hover:hover, a.theme-no-hover:focus {
        color: #FF6D02;
    }

    .tooltip {
        background: #8f3c00;
        border: 1px solid #6b2d00;
    }

    .tooltip.tip-top .nub {
        border-color: transparent transparent #8f3c00 transparent;
    }

    @media only screen and (min-width: 768px) {
        .tooltip.tip-top .nub {
            border-color: #8f3c00 transparent transparent transparent;
        }
    }

    #curriculum-list-2 ul.scorm-item-list {
        border-color: #FF6D02;
    }

    
    
        .filter-option.checked .filter-name,
        .filter-option.checked .filter-counter,
        .filter-option:hover:not(.checked) .fa-stack .fa-circle-o,
        .filter-option:hover:not(.checked) .filter-name,
        .filter-option:hover:not(.checked) .filter-counter {
            color: #FF6D02
        }
    





    #header,
    #header-mobile-dropdown {
        background-color: #ffffff !important;
    }

    .sj-nested-header-links #header .header-dropdown__menu {
        background-color: #ffffff !important;
    }




    #header, .header-link,
    .header-left .left-nav-toggle {
        color: #333333;
    }

    #header .header-dash-dropdown {
        color: #333333;
    }

    #header .header-dropdown-button:before {
        border-color: #333333 transparent transparent transparent;
    }




    button, .button {
        background-color: #FF6D02;
        border-color: #bf5101;
    }

    button:hover:disabled, .button:hover:disabled,
    button:disabled:focus, .button:disabled:focus,
    button:focus, .button:focus,
    button:disabled, .button:disabled,
    button:hover, .button:hover,
    .button.disabled, .button.disabled:focus, .button.disabled:hover {
        background-color: #bf5101;
        border-color: #8f3c00;
    }

    .button-background {
        background-color: #FF6D02;
    }

    .button-background-shade3 {
        background-color: #6b2d00;
    }


    .button-group li {
        background-color: #FF6D02;
        border-right-color: #ffac70;
    }
    .button-group li:hover {
        background-color: #ff9141;
    }
    .button-group li.active,
    .button-group li:active {
        background-color: #bf5101;
    }

    .button-border-color {
        border-color: #FF6D02;
    }

    a.coursebox-container .sj-ribbon-wrapper .sj-ribbon,
    a.coursebox-container .sj-course-ribbon-wrapper .sj-course-ribbon {
        color: #6b2d00;
        border-color: #FF6D02;
        background: #ffc093;
    }

    a.coursebox-container .sj-ribbon-wrapper .sj-ribbon-complete,
    a.coursebox-container .sj-course-ribbon-wrapper .sj-course-ribbon-complete {
        border-color: #FF6D02;
        background: #FF6D02;
    }

    .quiz .question .form-answers .linear-scale-question__choice__label.linear-scale-question__choice__selected {
      background: #FF6D02;
    }




/* LEX styles */


